<!DOCTYPE html>
<html >
  <head>

    <title>Layout</title>
    <!-- bootstrap link for useing bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- linking with css -->
    <link rel="stylesheet"type="text/css" href="layout.css">

  </head>
  <body>


    <!-- start of body -->
    <div class="head">
    <div class="cont">
      <div class="logo"><img src="img/logo.png"  alt="log"  ></div>
      <!-- starting the navigation bar -->
        <div class="nav">

          <a href="#">home/</a>
          <a href="#">news/</a>
          <a href="#">archives/</a>
          <a href="#">about/</a>
          <a href="#">contact</a>
        </div>
      </div>
</div>
<!-- endof navigation bar -->
<!-- top body -->
<div class="container">

    <div class="main" >
      <div class="imgt"><img src="img/bg-triangle.png" alt=""> </div>
      <div class="imgt2">  <img src="img/triangles.png" alt=""> </div>
      <div class="para">
        <h1><a href="">Fixes Gear Forever</a></h1>
      </div>
        <div class="para1">
          <p><font color="#b5c1ad" size="1px">16 APRIL 2011</font><br>

          <br>The veloheld combines minimalist design with superb quality.
          Devoid of excessive graphics and gear shift components, the veloheld product range delights us with its beauty and simplicity.
          The black and white (yin and yang?) bicycles feature a short wheelbase, a single gear and a narrow handlebar... All you need to explore the city streets. <br> <br>
          For those who want to create their bike themselves, the veloheld frames come in three sizes and two colours and are the perfect starting point.</p>
          <a href="#">Continue reading...</a>
        </div>
        <hr class="hr">
      </div>
<!-- end of top body -->
<!-- starting of bottom -->
      <div class="bottom">
        <h3><a href="#"> MORE ARTICLES</a></h3>
        <!-- fist divition for image 1 -->
        <div class="g1">
          <figure>

          <img src="img/more1.jpg" alt=""> <br> <br>
          <a href="#">On the Road: From the fixed gear fanatic's point of view</a> <hr>
          <a href="#">Brand History: Pashley Cycles - hand-built in England</a> <hr>
          <a href="#">Frame Wars: Innovations in cycle manufacture and repair</a>
        </figure>
        </div>
        <!-- end of divition -->
        <div class="more2">
          <img src="img/more2.jpg" alt=""> <br><br>
          <a href="#">Touring Diary: A sketchbook in your basket</a> <hr>
          <a href="#">Top Ten Newcomers for 2012: A peek at what's to come</a> <hr>
          <a href="#">InnerTube: The best cycling videos on the web</a>

        </div>
        <div class="more3">
          <img src="img/more3.jpg" alt=""> <br><br>
          <a href="">Product Review: All baskets were not created equal</a> <hr/>
                      <a href="">Going public: Out &amp; about with the founder of Public</a> <hr>
                      <a href="">Cycle Lane Defence: Know your rights</a>

        </div>
        <div class="more4">
          <img src="img/more4.jpg" alt=""> <br><br>
          <p><a href="">Bycicle Hall of Fame: The 1958 Schwin Spitfire</a> <hr></p>
                      <p><a href="">Read Survey: Share your thoughts with us!</a> <hr></p>
                      <p><a href="">Chain Gang: The evolution of the humble bike chain</a></p>

        </div>
      </div>
      <!-- end of bottom -->
<!-- starting of footer -->
</div>
      <footer>
        <div class="c">
            <p class="g"><a href="">Legal Information</a>|<a href="">Privacy Policy</a>|<a href="">Copyright & copy: Pedal Faster 2011</a></p>
        </div>
      </footer>
  <!-- ending of footer -->
  <!-- endof body -->

  </body>
</html>
